// == HEADDINGS ==
@mixin h1 {
    font-size: 3.625rem;
    line-height: $line-height;
}

@mixin h1-small {
    font-size: 3rem;
    line-height: $line-height;
}

@mixin h2 {
    font-size: 3rem;
    line-height: $line-height;
    font-weight: 600;
    color: $grey-20;
}

@mixin h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: $line-height;
    color: $grey-20;
}

// == PARAGRAPHS ==
@mixin text-xlarge {
    font-size: 1.75rem;
}

@mixin text-medium-large {
    font-size: 1.5rem;
}

@mixin text-large {
    font-size: 1.25rem;
}

@mixin text-medium {
    font-size: 1.125rem;
}

@mixin text-small {
    font-size: 1rem;
}


// == BUTTONS ==
@mixin btn-nav {
    @include text-medium;
    font-weight: 500;
    line-height: $line-height;
    padding: .875rem 1.5rem;
    border-radius: .5rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
        background-color: $peach-95;
    }
}

@mixin btn-standard {
    @include text-medium;
    font-weight: 500;
    line-height: $line-height;
    color: $peach-99;
    background-color: $purple-50;
    border-radius: .5rem;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
        background-color: $purple-60;
    }
}