// == COLORS ==

// == ABSOLUTE COLORS ==
$black: #000;
$white: #fff;

// == PURPLE SHADES ==
$purple-50: #5700FF;
$purple-60: #7833FF;
$purple-70: #9A66FF;
$purple-80: #BC99FF;
$purple-90: #DECFFC;
$purple-95: #EEE5FF;
$purple-97: #F5F0FF;
$purple-99: #FCFAFF;

// == SOFT PEACH SHADES ==
$peach-85: #E1DBD1;
$peach-90: #EBE7E0;
$peach-92: #EEEBE5;
$peach-95: #F5F3F0;
$peach-96: #F7F6F3;
$peach-97: #F9F8F6;
$peach-98: #FBFAF9;
$peach-99: #FDFDFC;

// == GREY SHADES ==
$grey-10: #191919;
$grey-20: #333333;
$grey-30: #4C4C4C;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #B3B3B3;
$grey-80: #CCCCCC;


// == SUPPORTING COLORS ==
$purple: #9E00FF;
$green: #5EDC11;
$yellow: #FFCE22;
$orange: #FF7222;
$pink: #FF22E9;
$blue: #2260FF;

// == OTHER ==
$line-height: 150%;
