@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.header-wrapper {
  margin-bottom: 9.375rem;
}
.header-wrapper .header-content {
  border-bottom: 1px solid #E1DBD1;
}
.header-wrapper .header-content .branding-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
.header-wrapper .header-content .branding-nav .nav-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5700FF;
}
@media (max-width: 767px) {
  .header-wrapper .header-content .branding-nav .nav-logo {
    font-size: 1.125rem;
  }
}
.header-wrapper .header-content .branding-nav .nav-actions {
  display: flex;
  gap: 3.125rem;
  align-items: center;
}
.header-wrapper .header-content .branding-nav .nav-actions ul {
  display: flex;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li {
  list-style-type: none;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li a:hover, .header-wrapper .header-content .branding-nav .nav-actions ul li a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .header-wrapper .header-content .branding-nav .nav-actions ul li a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1rem 1.125rem;
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking:hover, .header-wrapper .header-content .branding-nav .nav-actions .btn-booking:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .header-wrapper .header-content .branding-nav .nav-actions .btn-booking {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking .bi-telephone-fill {
  margin-right: 0.5rem;
}
.header-wrapper .header-content .branding-nav .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.header-wrapper .header-content .branding-nav .hamburger .bar, .header-wrapper .header-content .branding-nav .hamburger:after, .header-wrapper .header-content .branding-nav .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3125rem;
  background-color: #333333;
  margin: 0.375rem 0;
  transition: 0.4s;
  left: 0;
}
.header-wrapper .header-content .branding-nav .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-0.5rem, 0.375rem);
}
.header-wrapper .header-content .branding-nav .hamburger.is-active:after {
  transform: rotate(45deg) translate(-0.5625rem, -0.5rem);
}
.header-wrapper .header-content .branding-nav .hamburger.is-active .bar {
  opacity: 0;
}
.header-wrapper .header-content .branding-nav .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: #F7F6F3;
  transition: 1s;
  padding: 9.375rem 1.25rem 0 1.25rem;
  white-space: nowrap;
}
.header-wrapper .header-content .branding-nav .mobile-nav.is-active {
  right: 0;
}
.header-wrapper .header-content .branding-nav .mobile-nav a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  text-align: center;
  margin: 0 auto 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.header-wrapper .header-content .branding-nav .mobile-nav a:hover, .header-wrapper .header-content .branding-nav .mobile-nav a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .header-wrapper .header-content .branding-nav .mobile-nav a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.header-wrapper .hero {
  display: flex;
}
.header-wrapper .hero .hero__content {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  padding: 1.875rem 0 0 10.125rem;
}
.header-wrapper .hero .hero__content .hero__intro {
  padding-right: 9.75rem;
}
.header-wrapper .hero .hero__content .hero__intro .intro__greeting {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4C;
  background-color: #F5F3F0;
  border-radius: 0.8125rem;
  padding: 0.625rem 1.125rem;
  max-width: 13.75rem;
  white-space: nowrap;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__intro .intro__greeting {
    font-size: 1.125rem;
  }
}
.header-wrapper .hero .hero__content .hero__intro h1 {
  font-size: 3.625rem;
  line-height: 150%;
  font-weight: 600;
  color: #191919;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__intro h1 {
    font-size: 2.375rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .header-wrapper .hero .hero__content .hero__intro h1 {
    font-size: 3rem;
  }
}
.header-wrapper .hero .hero__content .hero__intro .intro__description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  margin-bottom: 3.125rem;
}
@media (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__intro .intro__description {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero .hero__content .hero__actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.header-wrapper .hero .hero__content .hero__actions .btn-book-call {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.header-wrapper .hero .hero__content .hero__actions .btn-book-call:hover, .header-wrapper .hero .hero__content .hero__actions .btn-book-call:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__actions .btn-book-call {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.header-wrapper .hero .hero__content .hero__actions .btn-book-call .bi-telephone-fill {
  margin-right: 0.5rem;
}
.header-wrapper .hero .hero__content .hero__actions .btn-portfolio {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 150%;
  color: #191919;
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__actions .btn-portfolio {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero .hero__content .hero__actions .btn-portfolio:hover .bi-arrow-right {
  transform: translateX(0.5rem);
}
.header-wrapper .hero .hero__content .hero__actions .btn-portfolio .bi-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
}
.header-wrapper .hero .hero__content .hero__stats {
  display: flex;
  justify-content: space-around;
  background-color: #F7F6F3;
  padding: 2.5rem 3.125rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-number {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  font-weight: 700;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-number {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-number {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-number {
    font-size: 1.125rem;
  }
}
.header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-number span {
  color: #5700FF;
}
.header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header-wrapper .hero .hero__content .hero__stats .hero__stat .hero__stat-description {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero .hero__image img {
  border-bottom-left-radius: 1.875rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero--about {
  flex-direction: row-reverse;
  gap: 5rem;
  max-width: 120rem;
  margin: 9.375rem auto 0 auto;
  padding: 0 10.125rem;
}
.hero--about .hero__content--about {
  width: 50%;
  padding: 0 !important;
  gap: 3.75rem !important;
}
.hero--about .hero__content--about .hero__intro--about {
  padding: 0 !important;
}
.hero--about .hero__content--about .hero__intro--about .intro__greeting--about {
  max-width: 41.6875rem !important;
}
.hero--about .hero__content--about .hero__intro--about .intro__description--about {
  margin-bottom: 0 !important;
}
.hero--about .hero__content--about .hero__stats--about {
  background-color: transparent !important;
  border-top: 1px solid #5700FF;
  border-bottom: 1px solid #5700FF;
  border-radius: 0 !important;
  padding: 1.25rem 0 !important;
}
.hero--about .hero__image--about {
  width: 50%;
}

.section-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  padding: 5rem 18.75rem;
  margin-top: 6.25rem;
}
.section-information .section-header-icon {
  display: flex;
  color: #F5F3F0;
  background-color: #5700FF;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}
.section-information .section-header-icon .header-icon {
  width: 2.125rem;
  height: 2.125rem;
}
.section-information .section-header h1 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 767px) {
  .section-information .section-header h1 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section-information .section-header h1 {
    font-size: 2.375rem;
  }
}
.section-information .section-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-information .section-header p {
    font-size: 0.875rem;
  }
}
.section-information .stats-wrapper {
  display: flex;
  gap: 1.25rem;
}
.section-information .stats-wrapper .fact-item {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  border: 1px solid #EBE7E0;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}
.section-information .stats-wrapper .fact-item .fact-icon {
  width: 2.125rem;
  height: 2.125rem;
  color: #5700FF;
}
.section-information .stats-wrapper .fact-item p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .branding-nav {
    padding: 1rem !important;
  }
  .mobile-nav {
    width: 100% !important;
  }
  .hero {
    padding: 0 1rem !important;
  }
  .hero .hero__content {
    gap: 2.5rem !important;
    margin-top: 1.875rem !important;
  }
  .hero .hero__content .hero__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .hero__content .hero__intro .intro__description {
    margin-bottom: 1.5rem !important;
  }
  .hero .hero__content .hero__intro .hero__actions {
    gap: 1.25rem !important;
  }
  .section-information {
    padding: 2.5rem 1.875rem;
  }
  .section-information .stats-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .section-information .stats-wrapper .fact-item {
    justify-content: center;
  }
  .section-information .stats-wrapper .fact-item p {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .branding-nav {
    padding: 1.25rem 2rem !important;
  }
  .hero {
    padding: 0 2rem;
  }
  .hero .hero__content {
    margin-top: 3.75rem !important;
  }
  .section-information {
    padding: 60px;
  }
}
@media screen and (max-width: 1023px) {
  .header-wrapper {
    margin-bottom: 3.75rem;
  }
  .hero__stats {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    background-color: unset !important;
    justify-content: unset !important;
    padding: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .hero__stats .hero__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6F3;
    border-radius: 0.5rem;
    padding: 1rem 1.125rem;
  }
  .hero__stats .hero__stat:nth-child(1) {
    grid-column: span 4;
  }
  .hero__stats .hero__stat:nth-child(2) {
    grid-column: span 2;
    text-align: center;
  }
  .hero__stats .hero__stat:nth-child(3) {
    grid-column: span 2;
    text-align: center;
  }
  .section-information {
    margin-top: 3.75rem;
  }
}
@media screen and (max-width: 1279px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero .hero__content {
    padding: 0 !important;
  }
  .hero .hero__intro {
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-wrapper {
    margin-bottom: 6.25rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .branding-nav {
    padding: 1.25rem 5rem !important;
  }
  .hero__content {
    padding-left: 5rem !important;
  }
  .section-information {
    padding: 3.75rem 15.625rem;
  }
}
@media screen and (max-width: 1439px) {
  .nav-actions {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hamburger {
    display: none !important;
  }
  .mobile-nav {
    display: none !important;
  }
}
.footer-content {
  padding-top: 60px;
  padding-bottom: 1.25rem;
  border-top: 1px solid #E1DBD1;
}
.footer-content .footer-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .footer-logo-nav .footer-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5700FF;
}
@media (max-width: 767px) {
  .footer-content .footer-logo-nav .footer-logo {
    font-size: 1.125rem;
  }
}
.footer-content .footer-logo-nav .footer-nav ul {
  display: flex;
}
.footer-content .footer-logo-nav .footer-nav ul li {
  list-style: none;
}
.footer-content .footer-logo-nav .footer-nav ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.footer-content .footer-logo-nav .footer-nav ul li a:hover, .footer-content .footer-logo-nav .footer-nav ul li a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .footer-content .footer-logo-nav .footer-nav ul li a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.footer-content .footer-logo-nav .social-icons {
  display: flex;
  gap: 0.875rem;
}
.footer-content .footer-logo-nav .social-icons .social-icon {
  display: flex;
  background-color: #5700FF;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
}
.footer-content .footer-contact {
  display: flex;
  justify-content: center;
  border: 1px solid #E1DBD1;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin: 1.875rem 21.875rem;
  font-style: normal;
}
.footer-content .footer-contact .contact-item {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.footer-content .footer-contact .contact-item .contact-icon {
  width: 24px;
  height: 24px;
  fill: #5700FF;
}
.footer-content .footer-contact .contact-item .contact-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .footer-content .footer-contact .contact-item .contact-text {
    font-size: 0.875rem;
  }
}
.footer-content .footer-contact .contact-item-left-side {
  padding-right: 2.5rem;
}
.footer-content .footer-contact .contact-item-center {
  border-left: 1px solid #E1DBD1;
  border-right: 1px solid #E1DBD1;
  padding: 0 2.5rem;
}
.footer-content .footer-contact .contact-item-right-side {
  padding-left: 2.5rem;
}
.footer-content .footer-copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #808080;
}

@media screen and (max-width: 480px) {
  .footer-nav ul {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .footer-logo-nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-logo-nav .footer-nav {
    order: 3;
    margin-bottom: 1.875rem;
  }
  .footer-logo-nav .social-icons {
    order: 2;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 1439px) {
  .footer-logo-nav {
    margin-bottom: 1.875rem;
  }
  .footer-contact {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .footer-contact {
    margin: 1.875rem 9.375rem !important;
  }
  .footer-contact .contact-item {
    flex-direction: column;
    align-items: center;
  }
}
.testimonials-section {
  margin-bottom: 9.375rem;
}
.testimonials-section .header-testimonials {
  text-align: center;
  margin-bottom: 5rem;
}
.testimonials-section .header-testimonials h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .testimonials-section .header-testimonials h2 {
    font-size: 1.75rem;
  }
}
.testimonials-section .header-testimonials p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .testimonials-section .header-testimonials p {
    font-size: 0.875rem;
  }
}

.splide__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1DBD1;
  padding-bottom: 1.25rem;
  margin-bottom: 1.5rem;
}
.splide__header .splide__reviews {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .splide__header .splide__reviews {
    font-size: 1.125rem;
  }
}
.splide__header .splide__arrow--prev svg {
  transform: rotate(180deg);
}
.splide__header .splide__arrow--next {
  margin-left: 1rem;
}
.splide__header .splide__arrow--next svg {
  transform: rotate(180deg);
}
.splide__header .splide__arrow {
  position: static;
  top: auto;
  transform: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFAF9;
  border: 1px solid #E1DBD1;
  border-radius: 0.5rem;
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.375rem;
  opacity: 1;
}

.testimonial-card {
  background-color: #F7F6F3;
  padding: 3.125rem;
  border-radius: 0.75rem;
}
.testimonial-card .testimonial-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-card .testimonial-meta .testimonial-header h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  font-weight: 500 !important;
}
@media (max-width: 767px) {
  .testimonial-card .testimonial-meta .testimonial-header h3 {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .testimonial-card .testimonial-meta .testimonial-header h3 {
    font-size: 1.125rem;
  }
}
.testimonial-card .testimonial-meta .testimonial-header .testimonial-domain {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  color: #666666;
}
@media (max-width: 767px) {
  .testimonial-card .testimonial-meta .testimonial-header .testimonial-domain {
    font-size: 0.875rem;
  }
}
.testimonial-card .testimonial-meta .testimonial-social {
  display: flex;
  gap: 0.625rem;
  margin-left: 1.25rem;
}
.testimonial-card .testimonial-meta .testimonial-social .testimonial-social-link {
  padding: 0.75rem;
  border: 1px solid #EBE7E0;
  border-radius: 0.5rem;
}
.testimonial-card .testimonial-rating {
  display: flex;
  gap: 0.3125rem;
  color: #5700FF;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.testimonial-card .testimonial-rating .testimonial-rating-star {
  width: 1.5rem;
  height: 1.5rem;
}
.testimonial-card blockquote p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .testimonial-card blockquote p {
    font-size: 0.875rem;
  }
}

.section-sliders-projects {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  margin-bottom: 9.375rem;
}
.section-sliders-projects .splide__reviews--portfolio {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .section-sliders-projects .splide__reviews--portfolio {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .section-sliders-projects .splide__reviews--portfolio {
    font-size: 1.125rem;
  }
}
.section-sliders-projects .project-card figcaption h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .section-sliders-projects .project-card figcaption h3 {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .section-sliders-projects .project-card figcaption h3 {
    font-size: 1rem;
  }
}
.section-sliders-projects .project-card img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .splide__header {
    margin-bottom: 1.875rem !important;
  }
  .testimonial-card {
    padding: 1.875rem !important;
  }
  .testimonial-card .testimonial-meta {
    flex-direction: column;
  }
  .testimonial-card .testimonial-meta .testimonial-header {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .testimonial-card .testimonial-rating {
    justify-content: center;
    margin: 1.25rem 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .testimonial-card {
    padding: 2.1875rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .testimonials-section {
    margin-bottom: 3.75rem;
  }
  .testimonials-section .header-testimonials {
    margin-bottom: 2.5rem;
  }
  .section-sliders-projects {
    margin-bottom: 3.75rem;
  }
  .section-sliders-projects .project-card {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .testimonials-section {
    margin-bottom: 6.25rem;
  }
  .testimonials-section .header-testimonials {
    margin-bottom: 3.75rem;
  }
  .testimonials-section .testimonial-card {
    padding: 2.5rem;
  }
  .section-sliders-projects {
    margin-bottom: 6.25rem;
  }
}
@media screen and (max-width: 1440px) {
  .section-sliders-projects {
    gap: 3.75rem;
  }
}
.section-skills {
  margin-bottom: 9.375rem;
}
.section-skills .skills-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-skills .skills-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-skills .skills-header h2 {
    font-size: 1.75rem;
  }
}
.section-skills .skills-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-skills .skills-header p {
    font-size: 0.875rem;
  }
}
.section-skills .skills-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.section-skills .skills-cards .skill-card {
  padding: 3.125rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
}
.section-skills .skills-cards .skill-card .skills-icon-wrapper {
  background-color: #5700FF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
  margin: 0 auto 1.875rem auto;
  width: 4.8125rem;
  height: 4.8125rem;
}
.section-skills .skills-cards .skill-card .skills-icon-wrapper .skill-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  color: #FDFDFC;
}
.section-skills .skills-cards .skill-card .skills-text-wrapper {
  text-align: center;
}
.section-skills .skills-cards .skill-card .skills-text-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-skills .skills-cards .skill-card .skills-text-wrapper h3 {
    font-size: 1.125rem;
  }
}
.section-skills .skills-cards .skill-card .skills-text-wrapper p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-skills .skills-cards .skill-card .skills-text-wrapper p {
    font-size: 0.875rem;
  }
}

.section-benefits {
  margin-bottom: 9.375rem;
}
.section-benefits .header-benefits {
  text-align: center;
  margin-bottom: 5rem;
}
.section-benefits .header-benefits h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-benefits .header-benefits h2 {
    font-size: 1.75rem;
  }
}
.section-benefits .header-benefits p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-benefits .header-benefits p {
    font-size: 0.875rem;
  }
}
.section-benefits .benefits-cards {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(12, 1fr);
}
.section-benefits .benefits-cards .benefit-card {
  padding: 3.125rem;
  border-radius: 0.75rem;
  background-color: #F7F6F3;
}
.section-benefits .benefits-cards .benefit-card:nth-child(1) {
  grid-column: span 6;
}
.section-benefits .benefits-cards .benefit-card:nth-child(2) {
  grid-column: span 6;
}
.section-benefits .benefits-cards .benefit-card:nth-child(3), .section-benefits .benefits-cards .benefit-card:nth-child(4), .section-benefits .benefits-cards .benefit-card:nth-child(5) {
  grid-column: span 4;
}
.section-benefits .benefits-cards .benefit-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .section-benefits .benefits-cards .benefit-card h3 {
    font-size: 1.125rem;
  }
}
.section-benefits .benefits-cards .benefit-card p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-benefits .benefits-cards .benefit-card p {
    font-size: 0.875rem;
  }
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.375rem;
}
.section-projects .projects-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-projects .projects-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-projects .projects-header h2 {
    font-size: 1.75rem;
  }
}
.section-projects .projects-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-projects .projects-header p {
    font-size: 0.875rem;
  }
}
.section-projects .projects-list {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-bottom: 3.125rem;
}
.section-projects .projects-list .project {
  background-color: #F7F6F3;
  padding: 3.125rem;
  border-radius: 0.75rem;
}
.section-projects .projects-list .project h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .section-projects .projects-list .project h3 {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .section-projects .projects-list .project h3 {
    font-size: 1.125rem;
  }
}
.section-projects .projects-list .project img {
  width: 100%;
}
.section-projects .view-projects-btn {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.section-projects .view-projects-btn:hover, .section-projects .view-projects-btn:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .section-projects .view-projects-btn {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.section-projects .view-projects-btn:hover .bi-arrow-right {
  transform: translateX(0.5rem);
}
.section-projects .view-projects-btn .bi-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 0.5rem;
}

.section-faq {
  margin-bottom: 9.375rem;
}
.section-faq .faq-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-faq .faq-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-faq .faq-header h2 {
    font-size: 1.75rem;
  }
}
.section-faq .faq-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-faq .faq-header p {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper {
  display: flex;
  gap: 3.125rem;
}
.section-faq .faq-wrapper .faq-container {
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  padding: 3.125rem;
  width: 70%;
}
.section-faq .faq-wrapper .faq-container .faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  transition: 0.3s ease;
  background-color: #EEEBE5;
  border-radius: 0.75rem;
}
.section-faq .faq-wrapper .faq-container .faq:last-child {
  margin-bottom: 0;
}
.section-faq .faq-wrapper .faq-container .faq .faq-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333333;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-container .faq .faq-title {
    font-size: 1.125rem;
  }
}
.section-faq .faq-wrapper .faq-container .faq .faq-text {
  display: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  max-width: 47.0625rem;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-container .faq .faq-text {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper .faq-container .faq.active {
  align-items: flex-start;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-title {
  margin-bottom: 1rem;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-text {
  display: block;
}
.section-faq .faq-wrapper .faq-container .faq .faq-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3.125rem;
  border: 1px solid #E1DBD1;
  background-color: unset;
  border-radius: 0.375rem;
  cursor: pointer;
  padding: 0.375rem;
  color: #333333;
}
.section-faq .faq-wrapper .faq-container .faq .faq-toggle svg {
  width: 20px;
  height: 20px;
}
.section-faq .faq-wrapper .faq-container .faq-toggle .faq-icon-close {
  display: none;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-toggle .faq-icon-close {
  display: block;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-toggle .faq-icon-plus {
  display: none;
}
.section-faq .faq-wrapper .faq-extra {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  padding: 3.125rem;
  height: 1%;
}
.section-faq .faq-wrapper .faq-extra .faq-icon-container {
  background-color: #5700FF;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}
.section-faq .faq-wrapper .faq-extra .faq-icon-container .faq-extra-icon {
  width: 2.125rem;
  height: 2.125rem;
  color: #ffffff;
}
.section-faq .faq-wrapper .faq-extra .faq-extra-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 0.875rem;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-extra .faq-extra-content h3 {
    font-size: 1.125rem;
  }
}
.section-faq .faq-wrapper .faq-extra .faq-extra-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-extra .faq-extra-content p {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper .faq-extra .faq-contact-link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.section-faq .faq-wrapper .faq-extra .faq-contact-link:hover, .section-faq .faq-wrapper .faq-extra .faq-contact-link:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-extra .faq-contact-link {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .faq-title {
    padding-right: 60px !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .faq-title {
    padding-right: 80px !important;
  }
}
@media screen and (max-width: 767px) {
  .skills-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .skills-cards .skill-card {
    padding: 2.5rem !important;
  }
  .benefits-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .benefits-cards .benefit-card {
    padding: 1.875rem !important;
  }
  .benefits-cards .benefit-card:nth-child(1), .benefits-cards .benefit-card:nth-child(2), .benefits-cards .benefit-card:nth-child(3), .benefits-cards .benefit-card:nth-child(4), .benefits-cards .benefit-card:nth-child(5) {
    grid-column: span 1 !important;
  }
  .benefits-cards .benefit-card h3 {
    margin-bottom: 0.625rem !important;
  }
  .projects-list {
    margin-bottom: 1.875rem !important;
  }
  .projects-list .project {
    padding: 1.875rem !important;
  }
  .projects-list .project h3 {
    margin-bottom: 1.25rem !important;
  }
  .faq-container {
    padding: 1.25rem !important;
  }
  .faq-container .faq {
    padding: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    position: relative;
  }
  .faq-container .faq:last-child {
    margin-bottom: 0 !important;
  }
  .faq-container .faq .faq-toggle {
    position: absolute;
    top: 25%;
    right: 8%;
    padding: 0.25rem !important;
  }
  .faq-container .faq.active .faq-toggle {
    top: 10% !important;
  }
  .faq-extra {
    padding: 1.875rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .skills-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .benefits-cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .benefits-cards .benefit-card {
    padding: 2.1875rem !important;
  }
  .benefits-cards .benefit-card:nth-child(1), .benefits-cards .benefit-card:nth-child(2), .benefits-cards .benefit-card:nth-child(3), .benefits-cards .benefit-card:nth-child(4) {
    grid-column: span 2 !important;
  }
  .benefits-cards .benefit-card:nth-child(5) {
    grid-column: span 4;
    justify-self: center !important;
  }
  .project {
    padding: 2.1875rem !important;
  }
  .faq-container {
    padding: 1.875rem !important;
  }
  .faq-extra {
    padding: 2.1875rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .faq {
    padding: 1.5625rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .section-skills {
    margin-bottom: 3.75rem;
  }
  .section-skills .skills-header {
    margin-bottom: 2.5rem;
  }
  .section-benefits {
    margin-bottom: 3.75rem;
  }
  .section-benefits .header-benefits {
    margin-bottom: 2.5rem;
  }
  .section-projects {
    margin-bottom: 3.75rem;
  }
  .section-projects .projects-header {
    margin-bottom: 2.5rem;
  }
  .section-projects .projects-list {
    flex-direction: column;
  }
  .section-faq {
    margin-bottom: 3.75rem;
  }
  .section-faq .faq-header {
    margin-bottom: 2.5rem;
  }
  .section-faq .faq-wrapper {
    flex-direction: column;
    gap: 1.875rem;
  }
  .section-faq .faq-wrapper .faq-container {
    width: 100% !important;
  }
  .section-faq .faq-wrapper .faq-extra {
    align-items: center !important;
    text-align: center;
    width: 100% !important;
  }
  .section-faq .faq-wrapper .faq-extra .faq-contact-link {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .section-skills {
    margin-bottom: 6.25rem;
  }
  .section-skills .skills-header {
    margin-bottom: 3.75rem;
  }
  .section-benefits {
    margin-bottom: 6.25rem;
  }
  .section-benefits .header-benefits {
    margin-bottom: 3.75rem;
  }
  .section-benefits .benefit-card {
    padding: 2.5rem !important;
  }
  .section-projects {
    margin-bottom: 6.25rem;
  }
  .section-projects .projects-header {
    margin-bottom: 3.75rem;
  }
  .project {
    padding: 2.5rem !important;
  }
  .section-faq {
    margin-bottom: 6.25rem;
  }
  .section-faq .faq-header {
    margin-bottom: 3.75rem;
  }
  .section-faq .faq-container {
    padding: 2.5rem !important;
  }
  .section-faq .faq-extra {
    padding: 2.5rem !important;
  }
}
@media screen and (max-width: 1440px) {
  .skills-header h2 {
    margin-bottom: 0.125rem !important;
  }
  .header-benefits h2 {
    margin-bottom: 0.125rem !important;
  }
  .projects-header h2 {
    margin-bottom: 0.125rem !important;
  }
  .header-testimonials h2 {
    margin-bottom: 0.125rem !important;
  }
  .faq-header h2 {
    margin-bottom: 0.125rem !important;
  }
}
.contact-section {
  display: flex;
  gap: 3.75rem;
  margin-bottom: 9.375rem;
}
.contact-section .contact-summary {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 40%;
}
.contact-section .contact-summary .contact-cards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.contact-section .contact-summary .contact-cards .contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F6F3;
  border-radius: 0.5rem;
  padding: 1.5rem 1.875rem;
  cursor: pointer;
}
.contact-section .contact-summary .contact-cards .contact-card .contact-card-text {
  font-style: normal;
}
.contact-section .contact-summary .contact-cards .contact-card .contact-card-text p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  margin-bottom: 0.25rem;
}
@media (max-width: 767px) {
  .contact-section .contact-summary .contact-cards .contact-card .contact-card-text p {
    font-size: 0.875rem;
  }
}
.contact-section .contact-summary .contact-cards .contact-card .contact-card-text .contact-detail-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 767px) {
  .contact-section .contact-summary .contact-cards .contact-card .contact-card-text .contact-detail-link {
    font-size: 1.125rem;
  }
}
.contact-section .contact-summary .contact-cards .contact-card .contact-card-icon {
  display: flex;
  padding: 0.625rem;
  background-color: #F5F3F0;
  border: 0.0625rem solid #E1DBD1;
  border-radius: 0.5rem;
}
.contact-section .contact-summary .contact-cards .contact-card .contact-card-icon .contact-icon-svg {
  width: 15px;
  height: 15px;
  color: #333333;
  transition: transform 0.3s ease;
}
.contact-section .contact-summary .contact-cards .contact-card:hover .contact-icon-svg {
  transform: translateX(3px);
}
.contact-section .contact-summary .contact-cards .contact-card:hover .contact-detail-link {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-color: #4C4C4C;
}
.contact-section .contact-summary .social-links h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .contact-section .contact-summary .social-links h2 {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .contact-section .contact-summary .social-links h2 {
    font-size: 1.125rem;
  }
}
.contact-section .contact-summary .social-links .social-links-container {
  display: flex;
  background-color: #F7F6F3;
  border-radius: 0.5rem;
  padding: 1.25rem;
  max-width: 14rem;
}
.contact-section .contact-summary .social-links .social-links-container .social-link {
  display: flex;
  padding: 0.75rem;
  background-color: #5700FF;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
}
.contact-section .contact-summary .social-links .social-links-container .social-link--spaced {
  margin: 0 1.25rem;
}
.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  width: 60%;
}
.contact-section .contact-form .personal-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  border: none;
}
.contact-section .contact-form .personal-details .input-group .form-input {
  padding: 1.5rem 2.5rem;
  background-color: #F5F3F0;
  border: 1px solid #EBE7E0;
  border-radius: 0.5rem;
  width: 100%;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
.contact-section .contact-form .personal-details .input-group .form-input, .contact-section .contact-form .personal-details .input-group .form-input:focus, .contact-section .contact-form .personal-details .input-group .form-input:active {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  font-size: 1rem;
  outline: none;
}
@media (max-width: 767px) {
  .contact-section .contact-form .personal-details .input-group .form-input, .contact-section .contact-form .personal-details .input-group .form-input:focus, .contact-section .contact-form .personal-details .input-group .form-input:active {
    font-size: 0.875rem;
  }
}
.contact-section .contact-form .personal-details .input-group ::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
.contact-section .contact-form .personal-details .input-group ::placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .contact-section .contact-form .personal-details .input-group ::-moz-placeholder {
    font-size: 0.875rem;
  }
  .contact-section .contact-form .personal-details .input-group ::placeholder {
    font-size: 0.875rem;
  }
}
.contact-section .contact-form .fieldset-contact-reason {
  padding: 4.1875rem 2.5rem 2.5rem 2.5rem;
  background-color: #F5F3F0;
  border: 1px solid #EBE7E0;
  border-radius: 0.75rem;
  position: relative;
  margin: 2.5rem 0;
}
.contact-section .contact-form .fieldset-contact-reason .form-legend {
  position: absolute;
  top: 2.5rem;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option .checkbox-label {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option .checkbox-label {
    font-size: 0.875rem;
  }
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option input[type=checkbox] {
  display: none;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option input[type=checkbox] + label {
  position: relative;
  padding-left: 3.125rem;
  cursor: pointer;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.125rem;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #EEEBE5;
  border: 1px solid #EBE7E0;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option input[type=checkbox]:checked + label::before {
  background-color: #5700FF;
}
.contact-section .contact-form .fieldset-contact-reason .checkbox-group .checkbox-option input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  left: 0.625rem;
  top: 0.25rem;
  width: 0.5rem;
  height: 0.75rem;
  border: solid #ffffff;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}
.contact-section .contact-form .form-message {
  border: none;
}
.contact-section .contact-form .form-message textarea {
  padding: 2.5rem;
  width: 100%;
  height: 204px;
  background-color: #F5F3F0;
  border: 1px solid #EBE7E0;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.contact-section .contact-form .form-message textarea ::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
.contact-section .contact-form .form-message textarea ::placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .contact-section .contact-form .form-message textarea ::-moz-placeholder {
    font-size: 0.875rem;
  }
  .contact-section .contact-form .form-message textarea ::placeholder {
    font-size: 0.875rem;
  }
}
.contact-section .contact-form .form-message textarea, .contact-section .contact-form .form-message textarea:focus {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  font-size: 1rem;
  outline: none;
}
@media (max-width: 767px) {
  .contact-section .contact-form .form-message textarea, .contact-section .contact-form .form-message textarea:focus {
    font-size: 0.875rem;
  }
}
.contact-section .contact-form .form-btn {
  width: 8.25rem;
  margin: 0 auto;
  border: none;
  padding: 1.125rem 2.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.contact-section .contact-form .form-btn:hover, .contact-section .contact-form .form-btn:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .contact-section .contact-form .form-btn {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}

.visually-hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-summary .contact-cards .contact-card .contact-card-text .contact-detail-link {
    font-size: 1rem;
  }
  .contact-section .contact-form {
    padding: 1.5rem !important;
  }
  .contact-section .contact-form .fieldset-contact-reason {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    margin: 1.5rem 0;
  }
  .contact-section .contact-form .fieldset-contact-reason .form-legend {
    font-size: 1rem;
    top: 1.5rem;
  }
  .contact-section .contact-form .fieldset-contact-reason .checkbox-group {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.5rem;
  }
  .contact-section .contact-form .fieldset-contact-reason .checkbox-group input[type=checkbox] + label::before {
    top: -0.25rem !important;
  }
  .contact-section .contact-form .fieldset-contact-reason .checkbox-group input[type=checkbox]:checked + label::after {
    top: 0.125rem !important;
  }
  .contact-section .contact-form .form-message textarea {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .contact-section .form-btn {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-form {
    padding: 2.1875rem !important;
  }
  .contact-form .fieldset-contact-reason {
    margin: 1.875rem 0 !important;
  }
  .contact-form .fieldset-contact-reason .checkbox-group {
    margin-top: 1.875rem !important;
  }
  .contact-form .form-message textarea {
    padding: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .contact-section {
    margin-bottom: 3.75rem;
    gap: 2.5rem;
  }
  .contact-section .personal-details {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .contact-section {
    margin-bottom: 6.25rem;
  }
  .contact-section .contact-form {
    padding: 3.125rem;
  }
  .contact-section .contact-form .fieldset-contact-reason {
    margin: 2.1875rem 0;
  }
  .contact-section .contact-form .fieldset-contact-reason .checkbox-group {
    margin-top: 2.1875rem !important;
  }
  .contact-section .contact-form .form-message textarea {
    padding: 2.1875rem;
    margin-bottom: 2.1875rem;
  }
}
@media screen and (max-width: 1439px) {
  .contact-section {
    flex-direction: column-reverse;
  }
  .contact-section .contact-summary {
    width: 100%;
  }
  .contact-section .contact-summary .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-section .contact-form {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .contact-summary {
    gap: 1.875rem !important;
  }
  .contact-summary .contact-card {
    padding: 1.25rem 1.5rem !important;
  }
  .form-input {
    padding: 1.25rem 1.5rem !important;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #EEEBE5;
}

.container {
  padding: 0 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .container {
    padding: 0 5rem;
  }
}/*# sourceMappingURL=style.css.map */