@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.header-wrapper {
  margin-bottom: 9.375rem;
}
.header-wrapper .header-content {
  border-bottom: 1px solid #E1DBD1;
}
.header-wrapper .header-content .branding-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
.header-wrapper .header-content .branding-nav .nav-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5700FF;
}
.header-wrapper .header-content .branding-nav .nav-actions {
  display: flex;
  gap: 3.125rem;
  align-items: center;
}
.header-wrapper .header-content .branding-nav .nav-actions ul {
  display: flex;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li {
  list-style-type: none;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.header-wrapper .header-content .branding-nav .nav-actions ul li a:hover, .header-wrapper .header-content .branding-nav .nav-actions ul li a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .header-wrapper .header-content .branding-nav .nav-actions ul li a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1rem 1.125rem;
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking:hover, .header-wrapper .header-content .branding-nav .nav-actions .btn-booking:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .header-wrapper .header-content .branding-nav .nav-actions .btn-booking {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.header-wrapper .header-content .branding-nav .nav-actions .btn-booking .bi-telephone-fill {
  margin-right: 0.5rem;
}
.header-wrapper .header-content .branding-nav .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.header-wrapper .header-content .branding-nav .hamburger .bar, .header-wrapper .header-content .branding-nav .hamburger:after, .header-wrapper .header-content .branding-nav .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3125rem;
  background-color: #333333;
  margin: 0.375rem 0;
  transition: 0.4s;
  left: 0;
}
.header-wrapper .header-content .branding-nav .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-0.5rem, 0.375rem);
}
.header-wrapper .header-content .branding-nav .hamburger.is-active:after {
  transform: rotate(45deg) translate(-0.5625rem, -0.5rem);
}
.header-wrapper .header-content .branding-nav .hamburger.is-active .bar {
  opacity: 0;
}
.header-wrapper .header-content .branding-nav .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: #F7F6F3;
  transition: 1s;
  padding: 9.375rem 1.25rem 0 1.25rem;
  white-space: nowrap;
}
.header-wrapper .header-content .branding-nav .mobile-nav.is-active {
  right: 0;
}
.header-wrapper .header-content .branding-nav .mobile-nav a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  text-align: center;
  margin: 0 auto 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.header-wrapper .header-content .branding-nav .mobile-nav a:hover, .header-wrapper .header-content .branding-nav .mobile-nav a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .header-wrapper .header-content .branding-nav .mobile-nav a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.header-wrapper .hero-section {
  display: flex;
}
.header-wrapper .hero-section .hero-content {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  padding: 1.875rem 0 0 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
.header-wrapper .hero-section .hero-content .hero-intro {
  padding-right: 9.75rem;
}
.header-wrapper .hero-section .hero-content .hero-intro .intro-greeting {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4C;
  background-color: #F5F3F0;
  border-radius: 0.8125rem;
  padding: 0.625rem 1.125rem;
  max-width: 13.75rem;
  white-space: nowrap;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-intro .intro-greeting {
    font-size: 1.125rem;
  }
}
.header-wrapper .hero-section .hero-content .hero-intro h1 {
  font-size: 3.625rem;
  line-height: 150%;
  font-weight: 600;
  color: #191919;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-intro h1 {
    font-size: 2.375rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .header-wrapper .hero-section .hero-content .hero-intro h1 {
    font-size: 3rem;
    line-height: 150%;
  }
}
.header-wrapper .hero-section .hero-content .hero-intro .intro-description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  margin-bottom: 3.125rem;
}
@media (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-intro .intro-description {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero-section .hero-content .hero-actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-book-call {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-book-call:hover, .header-wrapper .hero-section .hero-content .hero-actions .btn-book-call:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-actions .btn-book-call {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-book-call .bi-telephone-fill {
  margin-right: 0.5rem;
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-portfolio {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 150%;
  color: #191919;
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-actions .btn-portfolio {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-portfolio:hover .bi-arrow-right {
  transform: translateX(0.5rem);
}
.header-wrapper .hero-section .hero-content .hero-actions .btn-portfolio .bi-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
}
.header-wrapper .hero-section .hero-content .hero-stats {
  display: flex;
  justify-content: space-around;
  background-color: #F7F6F3;
  padding: 2.5rem 3.125rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-number {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  font-weight: 700;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-number {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-number {
    font-size: 1.5rem;
  }
}
.header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-number span {
  color: #5700FF;
}
.header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header-wrapper .hero-section .hero-content .hero-stats .stat-item .stat-description {
    font-size: 0.875rem;
  }
}
.header-wrapper .hero-section .hero-image img {
  border-bottom-left-radius: 1.875rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .branding-nav {
    padding: 1rem !important;
  }
  .mobile-nav {
    width: 100% !important;
  }
  .hero-section {
    padding: 0 1rem !important;
  }
  .hero-section .hero-content {
    gap: 2.5rem !important;
    margin-top: 1.875rem !important;
  }
  .hero-section .hero-content .hero-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-section .hero-content .hero-intro .intro-description {
    margin-bottom: 1.5rem !important;
  }
  .hero-section .hero-content .hero-intro .hero-actions {
    gap: 1.25rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .branding-nav {
    padding: 1.25rem 2rem !important;
  }
  .hero-section {
    padding: 0 2rem;
  }
  .hero-section .hero-content {
    margin-top: 3.75rem !important;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .branding-nav {
    padding: 1.25rem 5rem !important;
  }
  .hero-content {
    padding-left: 5rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-wrapper {
    margin-bottom: 3.75rem;
  }
  .hero-stats {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    background-color: unset !important;
    justify-content: unset !important;
    padding: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .hero-stats .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6F3;
    border-radius: 0.5rem;
    padding: 1rem 1.125rem;
  }
  .hero-stats .stat-item:nth-child(1) {
    grid-column: span 4;
  }
  .hero-stats .stat-item:nth-child(2) {
    grid-column: span 2;
    text-align: center;
  }
  .hero-stats .stat-item:nth-child(3) {
    grid-column: span 2;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-wrapper {
    margin-bottom: 6.25rem;
  }
}
@media screen and (max-width: 1279px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .hero-content {
    padding: 0 !important;
  }
  .hero-section .hero-intro {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1439px) {
  .nav-actions {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hamburger {
    display: none !important;
  }
  .mobile-nav {
    display: none !important;
  }
}
.footer-content {
  padding-top: 60px;
  padding-bottom: 1.25rem;
  border-top: 1px solid #E1DBD1;
}
.footer-content .footer-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .footer-logo-nav .footer-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5700FF;
}
.footer-content .footer-logo-nav .footer-nav ul {
  display: flex;
}
.footer-content .footer-logo-nav .footer-nav ul li {
  list-style: none;
}
.footer-content .footer-logo-nav .footer-nav ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  color: #333333;
}
.footer-content .footer-logo-nav .footer-nav ul li a:hover, .footer-content .footer-logo-nav .footer-nav ul li a:focus {
  background-color: #F5F3F0;
}
@media screen and (max-width: 576px) {
  .footer-content .footer-logo-nav .footer-nav ul li a {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.footer-content .footer-logo-nav .social-icons {
  display: flex;
  gap: 0.875rem;
}
.footer-content .footer-logo-nav .social-icons .social-icon {
  display: flex;
  background-color: #5700FF;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
}
.footer-content .footer-contact {
  display: flex;
  justify-content: center;
  border: 1px solid #E1DBD1;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin: 1.875rem 21.875rem;
  font-style: normal;
}
.footer-content .footer-contact .contact-item {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.footer-content .footer-contact .contact-item .contact-icon {
  width: 24px;
  height: 24px;
  fill: #5700FF;
}
.footer-content .footer-contact .contact-item .contact-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .footer-content .footer-contact .contact-item .contact-text {
    font-size: 0.875rem;
  }
}
.footer-content .footer-contact .contact-item-left-side {
  padding-right: 2.5rem;
}
.footer-content .footer-contact .contact-item-center {
  border-left: 1px solid #E1DBD1;
  border-right: 1px solid #E1DBD1;
  padding: 0 2.5rem;
}
.footer-content .footer-contact .contact-item-right-side {
  padding-left: 2.5rem;
}
.footer-content .footer-copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #808080;
}

@media screen and (max-width: 480px) {
  .footer-nav ul {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .footer-logo-nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-logo-nav .footer-nav {
    order: 3;
    margin-bottom: 1.875rem;
  }
  .footer-logo-nav .social-icons {
    order: 2;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 1439px) {
  .footer-logo-nav {
    margin-bottom: 1.875rem;
  }
  .footer-contact {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .footer-contact {
    margin: 1.875rem 9.375rem !important;
  }
  .footer-contact .contact-item {
    flex-direction: column;
    align-items: center;
  }
}
.testimonials-section {
  margin-bottom: 9.375rem;
}
.testimonials-section .header-testimonials {
  text-align: center;
  margin-bottom: 5rem;
}
.testimonials-section .header-testimonials h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .testimonials-section .header-testimonials h2 {
    font-size: 1.75rem;
  }
}
.testimonials-section .header-testimonials p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .testimonials-section .header-testimonials p {
    font-size: 0.875rem;
  }
}
.testimonials-section .splide__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1DBD1;
  padding-bottom: 1.25rem;
  margin-bottom: 3.125rem;
}
.testimonials-section .splide__header .splide__reviews {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4C;
}
.testimonials-section .splide__header .splide__arrow--prev svg {
  transform: rotate(180deg);
}
.testimonials-section .splide__header .splide__arrow--next {
  margin-left: 1rem;
}
.testimonials-section .splide__header .splide__arrow--next svg {
  transform: rotate(180deg);
}
.testimonials-section .splide__header .splide__arrow {
  position: static;
  top: auto;
  transform: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFAF9;
  border: 1px solid #E1DBD1;
  border-radius: 0.5rem;
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.375rem;
  opacity: 1;
}
.testimonials-section .testimonial-card {
  background-color: #F7F6F3;
  padding: 3.125rem;
  border-radius: 0.75rem;
}
.testimonials-section .testimonial-card .testimonial-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials-section .testimonial-card .testimonial-meta .testimonial-header h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  font-weight: 500 !important;
}
.testimonials-section .testimonial-card .testimonial-meta .testimonial-header .testimonial-domain {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  color: #666666;
}
@media (max-width: 767px) {
  .testimonials-section .testimonial-card .testimonial-meta .testimonial-header .testimonial-domain {
    font-size: 0.875rem;
  }
}
.testimonials-section .testimonial-card .testimonial-meta .testimonial-social {
  display: flex;
  gap: 0.625rem;
}
.testimonials-section .testimonial-card .testimonial-meta .testimonial-social .testimonial-social-link {
  padding: 0.75rem;
  border: 1px solid #EBE7E0;
  border-radius: 0.5rem;
}
.testimonials-section .testimonial-card .testimonial-rating {
  display: flex;
  gap: 0.3125rem;
  color: #5700FF;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.testimonials-section .testimonial-card .testimonial-rating .testimonial-rating-star {
  width: 1.5rem;
  height: 1.5rem;
}
.testimonials-section .testimonial-card blockquote p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .testimonials-section .testimonial-card blockquote p {
    font-size: 0.875rem;
  }
}

.section-skills {
  margin-bottom: 9.375rem;
}
.section-skills .skills-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-skills .skills-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-skills .skills-header h2 {
    font-size: 1.75rem;
  }
}
.section-skills .skills-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-skills .skills-header p {
    font-size: 0.875rem;
  }
}
.section-skills .skills-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.section-skills .skills-cards .skill-card {
  padding: 3.125rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
}
.section-skills .skills-cards .skill-card .skills-icon-wrapper {
  background-color: #5700FF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
  margin: 0 auto 1.875rem auto;
  width: 4.8125rem;
  height: 4.8125rem;
}
.section-skills .skills-cards .skill-card .skills-icon-wrapper .skill-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  color: #FDFDFC;
}
.section-skills .skills-cards .skill-card .skills-text-wrapper {
  text-align: center;
}
.section-skills .skills-cards .skill-card .skills-text-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-skills .skills-cards .skill-card .skills-text-wrapper h3 {
    font-size: 1.125rem;
  }
}
.section-skills .skills-cards .skill-card .skills-text-wrapper p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-skills .skills-cards .skill-card .skills-text-wrapper p {
    font-size: 0.875rem;
  }
}

.section-benefits {
  margin-bottom: 9.375rem;
}
.section-benefits .header-benefits {
  text-align: center;
  margin-bottom: 5rem;
}
.section-benefits .header-benefits h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
}
@media (max-width: 767px) {
  .section-benefits .header-benefits h2 {
    font-size: 1.75rem;
  }
}
.section-benefits .header-benefits p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-benefits .header-benefits p {
    font-size: 0.875rem;
  }
}
.section-benefits .benefits-cards {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(12, 1fr);
}
.section-benefits .benefits-cards .benefit-card {
  padding: 3.125rem;
  border-radius: 0.75rem;
  background-color: #F7F6F3;
}
.section-benefits .benefits-cards .benefit-card:nth-child(1) {
  grid-column: span 6;
}
.section-benefits .benefits-cards .benefit-card:nth-child(2) {
  grid-column: span 6;
}
.section-benefits .benefits-cards .benefit-card:nth-child(3), .section-benefits .benefits-cards .benefit-card:nth-child(4), .section-benefits .benefits-cards .benefit-card:nth-child(5) {
  grid-column: span 4;
}
.section-benefits .benefits-cards .benefit-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .section-benefits .benefits-cards .benefit-card h3 {
    font-size: 1.125rem;
  }
}
.section-benefits .benefits-cards .benefit-card p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-benefits .benefits-cards .benefit-card p {
    font-size: 0.875rem;
  }
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.375rem;
}
.section-projects .projects-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-projects .projects-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-projects .projects-header h2 {
    font-size: 1.75rem;
  }
}
.section-projects .projects-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-projects .projects-header p {
    font-size: 0.875rem;
  }
}
.section-projects .projects-list {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-bottom: 3.125rem;
}
.section-projects .projects-list .project {
  background-color: #F7F6F3;
  padding: 3.125rem;
  border-radius: 0.75rem;
}
.section-projects .projects-list .project h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 1.875rem;
}
.section-projects .view-projects-btn {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.section-projects .view-projects-btn:hover, .section-projects .view-projects-btn:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .section-projects .view-projects-btn {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}
.section-projects .view-projects-btn:hover .bi-arrow-right {
  transform: translateX(0.5rem);
}
.section-projects .view-projects-btn .bi-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 0.5rem;
}

.section-faq {
  margin-bottom: 9.375rem;
}
.section-faq .faq-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-faq .faq-header h2 {
  font-size: 3rem;
  line-height: 150%;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .section-faq .faq-header h2 {
    font-size: 1.75rem;
  }
}
.section-faq .faq-header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-faq .faq-header p {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper {
  display: flex;
  gap: 3.125rem;
}
.section-faq .faq-wrapper .faq-container {
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  padding: 3.125rem;
  width: 70%;
}
.section-faq .faq-wrapper .faq-container .faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  transition: 0.3s ease;
  background-color: #EEEBE5;
  border-radius: 0.75rem;
}
.section-faq .faq-wrapper .faq-container .faq:last-child {
  margin-bottom: 0;
}
.section-faq .faq-wrapper .faq-container .faq .faq-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333333;
}
.section-faq .faq-wrapper .faq-container .faq .faq-text {
  display: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
  max-width: 47.0625rem;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-container .faq .faq-text {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper .faq-container .faq.active {
  align-items: flex-start;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-title {
  margin-bottom: 1rem;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-text {
  display: block;
}
.section-faq .faq-wrapper .faq-container .faq .faq-toggle {
  margin-left: 3.125rem;
  border: 1px solid #E1DBD1;
  background-color: unset;
  border-radius: 0.375rem;
  cursor: pointer;
  padding: 0.375rem;
  height: 2.875rem;
  width: 2.875rem;
  color: #333333;
}
.section-faq .faq-wrapper .faq-container .faq-toggle .faq-icon-close {
  display: none;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-toggle .faq-icon-close {
  display: block;
}
.section-faq .faq-wrapper .faq-container .faq.active .faq-toggle .faq-icon-plus {
  display: none;
}
.section-faq .faq-wrapper .faq-extra {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  background-color: #F7F6F3;
  border-radius: 0.75rem;
  padding: 3.125rem;
  height: 1%;
}
.section-faq .faq-wrapper .faq-extra .faq-icon-container {
  background-color: #5700FF;
  box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}
.section-faq .faq-wrapper .faq-extra .faq-icon-container .faq-extra-icon {
  width: 2.125rem;
  height: 2.125rem;
  color: #ffffff;
}
.section-faq .faq-wrapper .faq-extra .faq-extra-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  margin-bottom: 0.875rem;
}
.section-faq .faq-wrapper .faq-extra .faq-extra-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-extra .faq-extra-content p {
    font-size: 0.875rem;
  }
}
.section-faq .faq-wrapper .faq-extra .faq-contact-link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #FDFDFC;
  background-color: #5700FF;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 1.125rem 1.5rem;
}
.section-faq .faq-wrapper .faq-extra .faq-contact-link:hover, .section-faq .faq-wrapper .faq-extra .faq-contact-link:focus {
  background-color: #7833FF;
}
@media (max-width: 767px) {
  .section-faq .faq-wrapper .faq-extra .faq-contact-link {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .skills-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .skills-cards .skill-card {
    padding: 2.5rem !important;
  }
  .benefits-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .benefits-cards .benefit-card {
    padding: 1.875rem !important;
  }
  .benefits-cards .benefit-card:nth-child(1), .benefits-cards .benefit-card:nth-child(2), .benefits-cards .benefit-card:nth-child(3), .benefits-cards .benefit-card:nth-child(4), .benefits-cards .benefit-card:nth-child(5) {
    grid-column: span 1 !important;
  }
  .benefits-cards .benefit-card h3 {
    margin-bottom: 0.625rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .skills-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .benefits-cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .benefits-cards .benefit-card {
    padding: 2.1875rem !important;
  }
  .benefits-cards .benefit-card:nth-child(1), .benefits-cards .benefit-card:nth-child(2), .benefits-cards .benefit-card:nth-child(3), .benefits-cards .benefit-card:nth-child(4) {
    grid-column: span 2 !important;
  }
  .benefits-cards .benefit-card:nth-child(5) {
    grid-column: span 4;
    justify-self: center !important;
  }
}
@media screen and (max-width: 1023px) {
  .section-skills {
    margin-bottom: 3.75rem;
  }
  .section-skills .skills-header {
    margin-bottom: 2.5rem;
  }
  .section-benefits {
    margin-bottom: 3.75rem;
  }
  .section-benefits .header-benefits {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .section-skills {
    margin-bottom: 6.25rem;
  }
  .section-skills .skills-header {
    margin-bottom: 3.75rem;
  }
  .section-benefits {
    margin-bottom: 6.25rem;
  }
  .section-benefits .header-benefits {
    margin-bottom: 3.75rem;
  }
  .section-benefits .benefit-card {
    padding: 2.5rem !important;
  }
}
@media screen and (max-width: 1440px) {
  .skills-header h2 {
    margin-bottom: 0.125rem !important;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #EEEBE5;
}

.container {
  padding: 0 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .container {
    padding: 0 5rem;
  }
}/*# sourceMappingURL=style.css.map */