// == FOOTER CONTENT ==
.footer-content {
    padding-top: 60px;
    padding-bottom: 1.25rem;
    border-top: 1px solid $peach-85;

    .footer-logo-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-logo {
            @include logo-style;
        }

        .footer-nav {
            ul {
                display: flex;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        @include btn-nav;
                        color: $grey-20;
                    }
                }
            }
        }

        .social-icons {
            display: flex;
            gap: .875rem;

            .social-icon {
                display: flex;
                background-color: $purple-50;
                padding: .75rem;
                border-radius: .5rem;
                box-shadow: $box-shadow;
            }
        }
    }

    .footer-contact {
        display: flex;
        justify-content: center;
        border: 1px solid $peach-85;
        border-radius: .5rem;
        padding: 1.5rem 2rem;
        margin: 1.875rem 21.875rem;
        font-style: normal;

        .contact-item {
            display: flex;
            gap: .5rem;
            text-decoration: none;

            .contact-icon {
                width: 24px;
                height: 24px;
                fill: $purple-50;
            }

            .contact-text {
                @include global-paragraph;
            }            
        }

        .contact-item-left-side {
            padding-right: 2.5rem;
        }

        .contact-item-center {
            border-left: 1px solid $peach-85;
            border-right: 1px solid $peach-85;
            padding: 0 2.5rem;
        }

        .contact-item-right-side {
            padding-left: 2.5rem;
        }
    }

    .footer-copyright {
        text-align: center;
        @include text-small;
        font-weight: 400;
        line-height: $line-height;
        color: $grey-50;
    }
}

// == BREAKPONTY ==
@media screen and (max-width: 480px) {
    .footer-content {
        .container {
            .footer-nav {
                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.25rem;
                    justify-items: center;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .footer-logo-nav {
        flex-direction: column;
        flex-wrap: wrap;

        .footer-nav {
            order: 3;
            margin-bottom: 1.875rem;
        }

        .social-icons {
            order: 2;
            margin-top: 1.25rem;
            margin-bottom: 1.875rem;
        }
    }
}

@media screen and (max-width: 1439px) {
    .footer-content {
        .container {
            .footer-logo-nav {
                margin-bottom: 1.875rem;
            }
        
            .footer-contact {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .footer-content {
        .container {
            .footer-contact {
                margin: 1.875rem 9.375rem;
        
                .contact-item {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}