.header-wrapper {
    margin-bottom: 9.375rem;
    
    .header-content {
        border-bottom: 1px solid $peach-85;
        
        // == LOGO AND NAV ==
        .branding-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.25rem 10.125rem;
            max-width: 120rem;
            margin: 0 auto;
    
            .nav-logo {
                @include logo-style;
            }
    
            .nav-actions {
                display: flex;
                gap: 3.125rem;
                align-items: center;
    
                ul {
                    display: flex;
    
                    li {
                        list-style-type: none;
    
                        a {
                            text-decoration: none;
                            @include btn-nav;
                            color: $grey-20;
                        }
                    }
                }

                .btn-booking {
                    @include btn-standard;
                    padding: 1rem 1.125rem;

                    .bi-telephone-fill {
                        margin-right: .5rem
                    }
                }
            }
        }
    }

    // == HERO SECTION ==
    .hero-section {
        display: flex;

        .hero-content {
            display: flex;
            gap: 5rem;
            flex-direction: column;
            justify-content: center;
            padding: 0  0 0 10.125rem;
            max-width: 120rem;
            margin: 0 auto;

            .hero-intro {
                padding-right: 9.75rem;

                .intro-greeting {
                    @include text-xlarge;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-30;
                    background-color: $peach-95;
                    border-radius: .8125rem;
                    padding: .625rem 1.125rem;
                    max-width: 13.75rem;
                    white-space: nowrap;
                    margin-bottom: 1.25rem;
                }

                h1 {
                    @include h1;
                    font-weight: 600;
                    color: $grey-10;
                    margin-bottom: .625rem;
                }

                .intro-description {
                    @include text-medium;
                    font-weight: 400;
                    line-height: $line-height;
                    color: $grey-30;
                    margin-bottom: 3.125rem;
                }
            }

            .hero-actions {
                display: flex;
                gap: 2.5rem;
                align-items: center;

                .btn-book-call {
                    display: flex;
                    @include btn-standard;
                    padding: 1.125rem 1.5rem;

                    .bi-telephone-fill {
                        margin-right: .5rem
                    }
                }

                .btn-portfolio {
                    @include text-medium;
                    text-decoration: none;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-10;
                    

                    &:hover .bi-arrow-right {
                        transform: translateX(0.5rem);
                    }

                    .bi-arrow-right {
                        display: inline-block;
                        transition: transform 0.3s ease;
                    }
                }
            }

            .hero-stats {
                display: flex;
                justify-content: space-around;
                background-color: $peach-96;
                padding: 2.5rem 3.125rem;
                border-top-left-radius: .75rem;
                border-bottom-left-radius: .75rem;

                .stat-item {
                    .stat-number {
                        @include h2;
                        font-weight: 700;
                        line-height: $line-height;
                        color: $grey-20;

                        span {
                            color: $purple-50;
                        }
                    }

                    .stat-description {
                        @include text-medium;
                        font-weight: 500;
                        line-height: $line-height;
                        color: $grey-30;
                    }
                }
            }
        }

        .hero-image {
            img {
                border-bottom-left-radius: 1.875rem;
            }
        }
    }
}
