// == SECTION CREATIVE SKILLS ==
.section-skills {
    margin-bottom: 9.375rem;

    .skills-header {
        text-align: center;
        margin-bottom: 5rem;

        h2 {
            @include h2;
            margin-bottom: .375rem
        }

        p {
            @include global-paragraph;
        }
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;

        .skill-card {
            padding: 3.125rem;
            background-color: $peach-96;
            border-radius: .75rem;

            .skills-icon-wrapper {
                background-color: $purple-50;
                padding: 1rem;
                border-radius: .5rem;
                box-shadow: $box-shadow;
                margin: 0 auto 1.875rem auto;
                width: 4.8125rem;
                height: 4.8125rem;

                .skill-icon {
                    width: 2.8125rem;
                    height: 2.8125rem;
                    color: $peach-99;
                }
            }

            .skills-text-wrapper {
                text-align: center;

                h3 {
                    @include h3;
                    margin-bottom: .625rem;
                }

                p {
                    @include global-paragraph;
                }
            }
        }
    }
}

// == SECTION BENEFITS ==
.section-benefits {
    margin-bottom: 9.375rem;

    .header-benefits {
        text-align: center;
        margin-bottom: 5rem;

        h2 {
            @include h2;
            margin-bottom: .375rem;
        }

        p {
            @include global-paragraph;
        }
    }

    .benefits-cards {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(12, 1fr);

        .benefit-card {
            padding: 3.125rem;
            border-radius: .75rem;
            background-color: $peach-96;

            &:nth-child(1) {
                grid-column: span 6;
            }
            
            &:nth-child(2) {
                grid-column: span 6; 
            }
            
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                grid-column: span 4;
            }


            h3 {
                @include h3;
                margin-bottom: 1.875rem;
            }

            p {
                @include global-paragraph;
            }
        }
    }
}


// == SECTION MY WORKS ==
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9.375rem;

    .projects-header {
        text-align: center;
        margin-bottom: 5rem;

        h2 {
            @include h2;
            margin-bottom: .375rem;
        }

        p {
            @include global-paragraph;
        }
    }

    .projects-list {
        display: flex;
        justify-content: center;
        gap: 1.875rem;
        margin-bottom: 3.125rem;

        .project {
            background-color: $peach-96;
            padding: 3.125rem;
            border-radius: .75rem;

            h3 {
                @include h3-small;
                margin-bottom: 1.875rem;
            }

            img {
                width: 100%;
            }
        }
    }

    .view-projects-btn {
        @include btn-standard;
        padding: 1.125rem 1.5rem;

        &:hover .bi-arrow-right {
            transform: translateX(0.5rem);
        }

        .bi-arrow-right {
            display: inline-block;
            transition: transform 0.3s ease;
            margin-left: .5rem;
        }
    }
}

// == SECTION FAQ ==
.section-faq {
    margin-bottom: 9.375rem;

    .faq-header {
        text-align: center;
        margin-bottom: 5rem;

        h2 {
            @include h2;
            margin-bottom: .375rem;
        }

        p {
            @include global-paragraph;
        }
    }

    .faq-wrapper {
        display: flex;
        gap: 3.125rem;

        .faq-container {
            background-color: $peach-96;
            border-radius: .75rem;
            padding: 3.125rem;
            width: 70%;
            
            .faq {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.875rem;
                margin-bottom: 1.875rem;
                transition: 0.3s ease;
                background-color: $peach-92;
                border-radius: .75rem;
        
                &:last-child {
                    margin-bottom: 0;
                }
        
                .faq-title {
                    @include text-large;
                    font-weight: 500;
                    color: $grey-20;
                }

                .faq-text {
                    display: none;
                    @include global-paragraph;
                    max-width: 47.0625rem;
                }

                &.active {
                    align-items: flex-start;

                    .faq-title {
                        margin-bottom: 1rem;
                    }
        
                    .faq-text {
                        display: block;
                    }
                }
                
        
                .faq-toggle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 3.125rem;
                    border: 1px solid $peach-85;
                    background-color: unset;
                    border-radius: .375rem;
                    cursor: pointer;
                    padding: .375rem;
                    color: $grey-20;

                    svg {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }
            }
        
            .faq-toggle .faq-icon-close {
                display: none;
            }
        
            .faq.active .faq-toggle .faq-icon-close {
                display: block;
            }
        
            .faq.active .faq-toggle .faq-icon-plus {
                display: none;
            }
        }

        .faq-extra {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.875rem;
            background-color: $peach-96;
            border-radius: .75rem;
            padding: 3.125rem;
            height: 1%;


            .faq-icon-container {
                background-color: $purple-50;
                box-shadow: $box-shadow;
                padding: 1rem;
                border-radius: .5rem;
                
                .faq-extra-icon {
                    width: 2.125rem;
                    height: 2.125rem;
                    color: $white;
                }
            }

            .faq-extra-content {
                h3 {
                    @include text-medium-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-20;
                    margin-bottom: .875rem;
                }

                p {
                    @include global-paragraph;
                }
            }

            .faq-contact-link {
                @include btn-standard;
                padding: 1.125rem 1.5rem;
            }
            
        }
    }
}


// == BREAKPOINTY ==
@media screen and (min-width: 320px) and (max-width: 480px) {
    // == SECTION FAQ == 
    .section-faq {
        .faq-wrapper {
            .faq-container {
                .faq {
                    .faq-content {
                        .faq-title {
                            padding-right: 3.75rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    // == SECTION FAQ == 
    .section-faq {
        .faq-wrapper {
            .faq-container {
                .faq {
                    .faq-content {
                        .faq-title {
                            padding-right: 5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    // == SECTION CREATIVE SKILLS ==
    .section-skills {
        .skills-cards {
            grid-template-columns: repeat(1, 1fr);
    
            .skill-card {
                padding: 2.5rem;
            }
        }
    }

    // == SECTION BENEFITS ==
    .section-benefits {
        .benefits-cards {
            grid-template-columns: repeat(1, 1fr);
    
            .benefit-card {
                padding: 1.875rem;
                
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    grid-column: span 1;
                }
    
                h3 {
                    margin-bottom: .625rem;
                }
            }
        }
    }

    // == SECTION MY WORKS == 
    .section-projects {
        .projects-list {
            margin-bottom: 1.875rem;
    
            .project {
                padding: 1.875rem;
        
                h3 {
                    margin-bottom: 1.25rem;
                }
            }
        }
    }

    // == SECTION FAQ ==
    .section-faq {
        .faq-wrapper {
            .faq-container {
                padding: 1.25rem;
        
                .faq {
                    padding: 1.25rem;
                    margin-bottom: 1.25rem;
                    position: relative;
        
                    &:last-child {
                        margin-bottom: 0;
                    }
        
                    .faq-toggle {
                        position: absolute;
                        top: 25%;
                        right: 8%;
                        padding: .25rem;
                    }
        
                    &.active .faq-toggle {
                        top: 10%;
                    }
                }
            }
        
            .faq-extra {
                padding: 1.875rem;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    // == SECTION CREATIVE SKILLS ==
    .section-skills {
        .skills-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // == SECTION BENEFITS ==
    .section-benefits {
        .benefits-cards {
            grid-template-columns: repeat(4, 1fr);
    
            .benefit-card {
                padding: 2.1875rem;
                
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    grid-column: span 2;
                }
    
                &:nth-child(5) {
                    grid-column: span 4;
                    justify-self: center;
                }
            }
        }
    }

    // == SECTION MY WORKS ==
    .section-projects {
        .projects-list {
            .project {
                padding: 2.1875rem;
            }
        }
    }

    // == SECTION FAQ ==
    .section-faq {
        .faq-wrapper {
            .faq-container {
                padding: 1.875rem;
            }
        
            .faq-extra {
                padding: 2.1875rem;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    // == SECTION FAQ ==
    .section-faq {
        .faq-wrapper {
            .faq-container {
                .faq {
                    padding: 1.5625rem;
                }
            }
        }
    }
}



@media screen and (max-width: 1023px) {
    // == SECTION CREATIVE SKILLS ==
    .section-skills {
        margin-bottom: 3.75rem;

        .skills-header {
            margin-bottom: 2.5rem;
        }
    }

    // == SECTION BENEFITS ==
    .section-benefits {
        margin-bottom: 3.75rem;

        .header-benefits {
            margin-bottom: 2.5rem;
        }
    }

    // == SECTION MY WORKS ==
    .section-projects {
        margin-bottom: 3.75rem;

        .projects-header {
            margin-bottom: 2.5rem;
        }

        .projects-list {
            flex-direction: column;
        }
    }

    // == SECTION FAQ ==
    .section-faq {
        margin-bottom: 3.75rem;

        .faq-header {
            margin-bottom: 2.5rem;
        }

        .faq-wrapper {
            flex-direction: column;
            gap: 1.875rem;
    
            .faq-container {
                width: 100%;
            }
    
            .faq-extra {
                align-items: center;
                text-align: center;
                width: 100%;
    
                .faq-contact-link {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == SECTION CREATIVE SKILLS ==
    .section-skills {
        margin-bottom: 6.25rem;

        .skills-header {
            margin-bottom: 3.75rem;
        }
    }

    // == SECTION BENEFITS ==
    .section-benefits {
        margin-bottom: 6.25rem;

        .header-benefits {
            margin-bottom: 3.75rem;
        }

        .benefits-cards {
            .benefit-card {
                padding: 2.5rem;
            }
        }
    }

    // == SECTION MY WORKS ==
    .section-projects {
        margin-bottom: 6.25rem;

        .projects-header {
            margin-bottom: 3.75rem;
        }
    }

    // == SECTION MY WORKS == 
    .section-projects {
        .projects-list {
            .project {
                padding: 2.5rem;
            }
        }
    }

    // == SECTION FAQ ==
    .section-faq {
        margin-bottom: 6.25rem;

        .faq-header {
            margin-bottom: 3.75rem;
        }

        .faq-wrapper {
            .faq-container {
                padding: 2.5rem;
            }
        
            .faq-extra {
                padding: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    // == SECTION CREATIVE SKILLS ==
    .section-skills {
        .skills-header {
            h2 {
                margin-bottom: .125rem;
            }
        }
    }

    // == SECTION BENEFITS ==
    .section-benefits {
        .header-benefits {
            h2 {
                margin-bottom: .125rem;
            }
        }
    }

    // == SECTION MY WORKS ==
    .section-projects {
        .projects-header {
            h2 {
                margin-bottom: .125rem;
            }
        }
    }

    // == TESTIMONIALS SECTION ==
    .testimonials-section {
        .header-testimonials {
            h2 {
                margin-bottom: .125rem;
            }
        }
    }

    // == SECTION FAQ ==
    .section-faq {
        .faq-header {
            h2 {
                margin-bottom: .125rem;
            }
        }
    }
}


